# General
build/

# IDEs
.vs/
.vscode/
.idea/
*.userprefs
*.user

# NodeJS
node_modules/
npm-debug.log
package-lock.json

# Python
__pycache__/
*.egg-info/

# .NET
yogi-dotnet/**/bin/
yogi-dotnet/**/obj/
yogi-dotnet/**/packages/
